bin/
obj/
*.user
*.suo
.vs/
packages/
*.log
*.tmp
*.cache
*.DotSettings
.vscode/
.idea/
*.userprefs
*.pidb
*.userprefs
*.DS_Store
Thumbs.db
EdgeMonitorV1.1.zip
Prelina Montelli_0xE53985E5_public.asc
EdgeMonitorV1.1/
publish/
update-version.ps1
